body {
    font-family: "Helvetica";
}

body > .container {
    display: flex;
    flex-direction: column;
}

.main.information {
    display: flex;
    flex-direction: column;
}

.container > .header,
.first.main,
.footer {
    background-color: #1f2937;
}

.third.main {
    background-color: #e5e7eb;
}

.container > .header {
    display: flex;
    justify-content: space-around;
}

.header.logo {
    color:#f9faf8;
}

.header.list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
}

.first.main {
    display: flex;
    padding: 70px 180px;
}
/*left*/
.first.header {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

.header.list,
.first.content,
.first.image,
.first.button {
    font-size: 18px;
    color: #e5e7eb;
}

.first.header,
.first.content,
.first.button {
    max-width: 400px;
    margin: 5px;
    margin-right: 40px;
}

.first.button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 30px;
    border: 0;
    font-weight: bolder;
}

/*right*/
.first.right {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 500px;
}
