body .container {
    display: flex;
    flex-direction: column;
}

.main.information {
    display: flex;
    flex-direction: column;
}

.container > .header,
.first.main,
.footer {
    background-color: #1f2937;
}

.third.main {
    background-color: #e5e7eb;
}

.container > .header {
    display: flex;
    justify-content: space-around;
}

.header.list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
}

.first.header {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

.header.list,
.first.content {
    font-size: 18px;
    color: #e5e7eb;
}

.header.logo {
    color:#f9faf8;
}