body {
    font-family: "Helvetica";
    margin: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
}

.main.information {
    display: flex;
    flex-direction: column;
}

.container > .header,
.first.main,
.footer {
    background-color: #1f2937;
}

.third.main {
    background-color: #e5e7eb;
}

.container > .header {
    display: flex;
    justify-content: space-around;
}

.header.logo {
    color:#f9faf8;
}

.header.list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
}

.first.main {
    display: flex;
    padding: 70px 180px;
}
/*left*/
.first.header {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
}

.header.list,
.first.content,
.first.image,
.first.button {
    font-size: 18px;
    color: #e5e7eb;
}

.first.header,
.first.content,
.first.button {
    max-width: 400px;
    margin: 5px;
    margin-right: 40px;
}

.first.button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 30px;
    border: 0;
    font-weight: bolder;
}

/*right*/
.first.right {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 500px;
}

/*second main information*/
.second.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.second.header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.second.big.container {
    display: flex;
    gap: 40px;
}

.second.big.container .second.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second.box {
    border: 4px solid#3882f6;
    border-radius: 10%;
    width: 150px;
    height: 150px;
}

.second.text {
    width: 150px;
    text-align: center;
}

/*third main information*/
.third.main {
    display: flex;
    flex-direction: column;
    padding: 120px 250px;
}

.third.paragraph {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 0;
}

.third.name {
    align-self: flex-end;
    margin: 0;
}

/*fourth main information*/
.fourth.box {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 100px 210px;
    padding: 50px 110px;
    border-radius: 10px;
}

.fourth.container {
    display: flex;
    flex-direction: column;
}

.fourth.title,
.fourth.content,
.fourth.button {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.fourth.button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    padding: 0 40px;
}

.fourth.title {
    font-weight: bolder;
}